*
{
	margin: 0;
	box-sizing: border-box;
}
.header
{
	height: 50px;
	width: 100%;
	border: 1px solid;
	border-radius: 25px;
	background: lightgreen;
	display: flex;
}
.nav
{
 	width: 30%;	
 	height: 100%;
 	display: flex;
 	align-items: center;
 	border-radius: 25px;
}
.nav i 
{
	margin:px;
}
.terra
{
 	width: 40%;	
 	height: 100%;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	border-radius: 25px;
}
.contact
{
 	width: 30%;
	height: 100%;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav h4
{
	border-radius: 7px;
	background: black;
	color: white;
	margin: 30px;
	padding: 5px;
}
.nav h4 i
{
	margin-right: 10px;
}
.terra h4 i 
{
	border-radius: 25px;
	color: white;
	background: black;
	padding: 5px;
	margin-right: 7px;
}
.contact h4
{
	border-radius: 7px;
	background-color: black;
	color: white;
	margin: 30px;
	padding: 5px;
}
.contact h4 i 
{
	margin-left: 10px;
}
#menu1
{
	display: none;
}

@media (max-width: 496px)
{
	.nav
	{
		width: 30%;
	}
	.terra
	{
		width: 25%;
	}
	.contact
	{
		width: 40%;
	}
	.nav 
}
@media (max-width: 448px)
{
	.nav 
	{
		display: none;
	}
	.terra
	{
		width: 50%;
	}
	.contact
	{
		width: 50%;
	}
	.contact h4 
	{
		display: none;
	}

	.contact #menu1
    {
		display: block;
		border-radius: 7px;
		background-color: black;
		color: white;
		margin: 25px;
		padding: 7px;
		margin: 50px;
	}
}